{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container" id="inscription">
    <div class="row">
        <div class="col-12 justify-content-center py-5">
            <h1 class="text-center">Inscription</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.complement_adresse) }}
            {{ form_row(form.code_postal) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.ville) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
         {{ form_row(form.date_creation, {'label': false, 'attr': {'hidden': 'true'}}) }}
                    
      {{ form_row(form.date_fin, {'label': false, 'attr': {'hidden': 'true'}}) }}

        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}